.autocomplete-suggestions{
	background: rgba(255,255,255,.85);
	border:1px solid #ddd;
	border-top:0px;
	border-radius: 0 0 3px 3px;
}

.autocomplete-suggestion{
	padding: 2px 4px;
	border-bottom: 1px solid #EEE;
}

.autocomplete-suggestion strong{
	color: #ff8000;
}